@import "screen_header.css";
@import "reset.css";
@import "more-music.css";

@font-face {
  font-family: "kakao";
  src: url("KakaoRegular.woff");
}

body {
  font-family: "kakao";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

:root {
  --yellow: #fae100;
  --horizontal-space: 25px;
}

.main-box__1 {
  width: 360px;
  height: 760px;
  border-radius: 30px;
  box-shadow: 0 0 30px rgb(153, 153, 153);
  background-color: #ccaddc;
}

.main-box__2 {
  width: 360px;
  height: 760px;
  border-radius: 30px;
  background-color: #ccaddc;
  box-shadow: 0 0 30px rgb(153, 153, 153);
}

.singer-info__img {
  text-align: center;
}

.singer-info__img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 10px 30px #be010192;
  transition: transform 0.3s ease;
}

.singer-info__img img:hover {
  transform: scale(1.2);
  box-shadow: 0 15px 35px #be010192;
  transition: 0.3s ease;
}

.singer-info__text {
  text-align: center;
  line-height: 40px;
  margin-top: 10px;
}

.singer-info__text h2 {
  font-size: 23px;
  font-weight: 600;
}

.singer-info__text span {
  font-weight: 600;
  opacity: 0.5;
}

.music-btn__box1 {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 25px;
  font-weight: 600;
}

.music-btn__box1-shuffle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #222222;
  border-radius: 30px;
  width: 120px;
  height: 45px;
  box-shadow: 0 0 15px rgb(110, 110, 110);
  transition: transform 0.3s ease;
}

.music-btn__box1-shuffle:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.music-btn__box1-like {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  border-radius: 30px;
  width: 120px;
  height: 45px;
  box-shadow: 0 0 15px rgb(110, 110, 110);
  transition: transform 0.3s ease;
}

.music-btn__box1-like:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
.play-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.play-nav__box {
  width: 330px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease;
}

.play-nav__box:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

.play-nav__box__text {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.play-nav__box__text > .name {
  opacity: 0.5;
}

.play-nav__box__text > .song {
  font-size: 25px;
  font-weight: 600;
}

.play-nav__box__icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.fa-pause {
  margin: 0px 15px;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.img-box_img img {
  border-radius: 20px;
  height: 260px;
  width: 260px;
  box-shadow: 0 0 30px #1e1c1f;
}

.text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  line-height: 40px;
}

.text-box__text__song {
  font-size: 30px;
  font-weight: 600;
}

.text-box__text__name {
  opacity: 0.5;
  font-weight: 600;
}

.time-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-bar__play-time {
  width: 90%;
  height: 4px;
  border-radius: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.time-bar__play-time-bar {
  height: 4px;
  width: 75%;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.8);
}

.time-bar__play-time > i {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.9);
  margin-left: -5px;
  margin-top: 3px;
}

.time-bar__time-text {
  width: 85%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.play-icon__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
